**Movies recommendatation system**

**Movies recommendatation system**

Recommender System is a system that seeks to predict or filter preferences according to the user’s choices. Recommender systems are utilized in a variety of areas including movies, music, news, books, research articles, search queries, social tags, and products in general. Recommender systems produce a list of recommendations in any of the two ways –

**Collaborative filtering:** Collaborative filtering approaches build a model from the user’s past behavior (i.e. items purchased or searched by the user) as well as similar decisions made by other users. This model is then used to predict items (or ratings for items) that users may have an interest in.

**Content-based filtering:** Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user’s preferences. It recommends items based on the user’s past preferences.

**Import Library**

In [209]:
import pandas as pd
import numpy as np

In [210]:
data=pd.read_csv('movies_data.csv',dtype='unicode')

In [211]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,30-10-1995,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,FALSE,7.7,5415
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,15-12-1995,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,FALSE,6.9,2413
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,22-12-1995,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,22-12-1995,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,FALSE,6.1,34
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,10-02-1995,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,FALSE,5.7,173

In [212]:

data.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
94,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,40154,tt0113403,en,A Midwinter's Tale,Out of work actor Joe volunteers to help try a...,...,01-12-1995,0,99,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The drama. The passion. The intrigue... And th...,A Midwinter's Tale,FALSE,7.5,6
95,FALSE,NaN,3000000,"[{'id': 18, 'name': 'Drama'}]",NaN,406,tt0113247,fr,La Haine,Aimlessly whiling away their days in the concr...,...,31-05-1995,0,98,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Three Young Friends... One Last Chance.,La Haine,FALSE,7.9,695
96,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45549,tt0111173,en,Shopping,"A dark, hip, urban story of a barren and anony...",...,06-12-1994,0,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,FALSE,5.6,13
97,FALSE,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.nickbroomfield.com/heidifleiss.html,63076,tt0113283,en,Heidi Fleiss: Hollywood Madam,A documentary crew from the BBC arrives in L.A...,...,27-12-1995,0,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Heidi Fleiss: Hollywood Madam,FALSE,6.8,4
98,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,11062,tt0115907,en,City Hall,The accidental shooting of a boy in New York l...,...,16-02-1996,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It started with a shootout on a rainswept stre...,City Hall,FALSE,6,67

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  99 non-null     object
 1   belongs_to_collection  14 non-null     object
 2   budget                 99 non-null     object
 3   genres                 99 non-null     object
 4   homepage               8 non-null      object
 5   id                     99 non-null     object
 6   imdb_id                99 non-null     object
 7   original_language      99 non-null     object
 8   original_title         99 non-null     object
 9   overview               98 non-null     object
 10  popularity             99 non-null     object
 11  poster_path            99 non-null     object
 12  production_companies   99 non-null     object
 13  production_countries   99 non-null     object
 14  release_date           99 non-null     object
 15  revenue                99 non-null     object
 16  runtime                99 non-null     object
 17  spoken_languages       99 non-null     object
 18  status                 99 non-null     object
 19  tagline                76 non-null     object
 20  title                  99 non-null     object
 21  video                  99 non-null     object
 22  vote_average           99 non-null     object
 23  vote_count             99 non-null     object
dtypes: object(24)
memory usage: 18.7+ KB

In [214]:
data.shape

(99, 24)

In [215]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

**Feature Selection**

In [216]:
df_featureselect=data[[ 'genres','overview','production_companies','tagline','original_title']].fillna('')

In [217]:
df_featureselect.shape

(99, 5)

In [218]:
df_featureselect

,genres,overview,production_companies,tagline,original_title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Roll the dice and unleash the excitement!,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,Friends are the people who let you be yourself...,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II
...,...,...,...,...,...
94,"[{'id': 35, 'name': 'Comedy'}]",Out of work actor Joe volunteers to help try a...,"[{'name': 'Castle Rock Entertainment', 'id': 9...",The drama. The passion. The intrigue... And th...,A Midwinter's Tale
95,"[{'id': 18, 'name': 'Drama'}]",Aimlessly whiling away their days in the concr...,"[{'name': 'Egg Pictures', 'id': 802}, {'name':...",Three Young Friends... One Last Chance.,La Haine
96,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","A dark, hip, urban story of a barren and anony...","[{'name': 'Channel Four Films', 'id': 181}]",No one leaves without paying...,Shopping
97,"[{'id': 99, 'name': 'Documentary'}]",A documentary crew from the BBC arrives in L.A...,[{'name': 'British Broadcasting Corporation (B...,,Heidi Fleiss: Hollywood Madam
98,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",The accidental shooting of a boy in New York l...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",It started with a shootout on a rainswept stre...,City Hall

In [219]:
x=df_featureselect['genres']+''+['overview']+''+['production_companies']+''+['tagline']+''+['original_title']

In [220]:
x

0     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1     [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2     [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4     [{'id': 35, 'name': 'Comedy'}]overviewproducti...
                            ...
94    [{'id': 35, 'name': 'Comedy'}]overviewproducti...
95    [{'id': 18, 'name': 'Drama'}]overviewproductio...
96    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
97    [{'id': 99, 'name': 'Documentary'}]overviewpro...
98    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
Name: genres, Length: 99, dtype: object

In [221]:
x.shape

(99,)

**Get Feature Text Coversion To Token**

In [222]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [223]:
tfidf=TfidfVectorizer()

In [224]:
x=tfidf.fit_transform(x)

In [225]:
x.shape

(99, 40)

In [226]:
print(x)

  (0, 35)	0.11226543834814452
  (0, 25)	0.31119494994162034
  (0, 2)	0.31119494994162034
  (0, 21)	0.2333784778762776
  (0, 11)	0.2333784778762776
  (0, 20)	0.47363394381521834
  (0, 34)	0.34360051242289535
  (0, 7)	0.47363394381521834
  (0, 31)	0.34360051242289535
  (1, 26)	0.4079220575177096
  (1, 6)	0.4079220575177096
  (1, 19)	0.31409852324309495
  (1, 5)	0.31409852324309495
  (1, 35)	0.11569865371693784
  (1, 25)	0.3207116747729727
  (1, 2)	0.3207116747729727
  (1, 34)	0.35410823926503654
  (1, 31)	0.35410823926503654
  (2, 36)	0.427251046587194
  (2, 1)	0.427251046587194
  (2, 35)	0.18797074286411955
  (2, 21)	0.39075539632119055
  (2, 11)	0.39075539632119055
  (2, 34)	0.38353652153292017
  (2, 31)	0.38353652153292017
  :	:
  (96, 37)	0.31010020851348497
  (96, 15)	0.31010020851348497
  (96, 38)	0.20568346615819513
  (96, 13)	0.20568346615819513
  (96, 18)	0.23006278595304236
  (96, 10)	0.23006278595304236
  (96, 24)	0.1309063073862408
  (96, 8)	0.1309063073862408
  (96, 19)	0.23006278595304236
  (96, 5)	0.23006278595304236
  (96, 35)	0.08474396609796923
  (96, 34)	0.43228011820986145
  (96, 31)	0.43228011820986145
  (97, 23)	0.6817190850588831
  (97, 17)	0.6817190850588831
  (97, 35)	0.15127267874763056
  (97, 34)	0.1543287964015061
  (97, 31)	0.1543287964015061
  (98, 38)	0.47709286468753864
  (98, 13)	0.47709286468753864
  (98, 24)	0.30364358576364225
  (98, 8)	0.30364358576364225
  (98, 35)	0.1965677762332522
  (98, 34)	0.4010779549690965
  (98, 31)	0.4010779549690965

**Get similar Score using Cosine Similarity**

In [227]:
from sklearn.metrics.pairwise import cosine_similarity

In [228]:
similarity_score=cosine_similarity(x)

In [229]:
similarity_score

array([[1.        , 0.45594021, 0.46705711, ..., 0.30657716, 0.1230376 ,
        0.29768895],
       [0.45594021, 1.        , 0.29337485, ..., 0.46047743, 0.12680024,
        0.30679264],
       [0.46705711, 0.29337485, 1.        , ..., 0.34751981, 0.1468163 ,
        0.34460508],
       ...,
       [0.30657716, 0.46047743, 0.34751981, ..., 1.        , 0.14624599,
        0.63917193],
       [0.1230376 , 0.12680024, 0.1468163 , ..., 0.14624599, 1.        ,
        0.15353109],
       [0.29768895, 0.30679264, 0.34460508, ..., 0.63917193, 0.15353109,
        1.        ]])

In [230]:
similarity_score.shape

(99, 99)

Get Movies Name as Input from User and Validate for Closest Spelling

In [231]:
fav_movie_name=input("Enter your Favourite Movie Name: ")

In [232]:
all_movies_title_list=data['original_title'].tolist()

In [233]:
import difflib

In [234]:
movie_recommondation=difflib.get_close_matches(fav_movie_name,all_movies_title_list)
print(movie_recommondation)

['Four Rooms']

In [235]:
close_match=movie_recommondation[0]
print(close_match)

Four Rooms

In [236]:
index_of_close_match_movie=int(data[data.original_title==close_match]['id'].values[0])
print(index_of_close_match_movie)

5

In [237]:
#getting the list of similar movies
recommendation_score = list(enumerate(similarity_score[index_of_close_match_movie]))
print(recommendation_score)

[(0, 0.3227794618647637), (1, 0.3326504553380034), (2, 0.36722970119251386), (3, 0.5161101378733494), (4, 0.3014394155023656), (5, 1.0000000000000002), (6, 0.36722970119251386), (7, 0.6501478830015724), (8, 0.7439553190575393), (9, 0.7439553190575393), (10, 0.5161101378733494), (11, 0.28480726662170563), (12, 0.3110488750878291), (13, 0.3776692717297004), (14, 0.5754774280077406), (15, 0.7754680033466326), (16, 0.5021024200880705), (17, 0.6394619804615588), (18, 0.6046730442103354), (19, 0.8167541252764892), (20, 0.7943017328807089), (21, 0.7441458357594101), (22, 0.8888535394151862), (23, 0.5228526605055838), (24, 0.5021024200880705), (25, 0.5567596870810636), (26, 0.4885979751099535), (27, 0.5021024200880705), (28, 0.2882259233655929), (29, 0.7754680033466326), (30, 0.7754680033466326), (31, 0.4034656548328567), (32, 0.3330975044073662), (33, 0.4611547253483206), (34, 0.4256656293679058), (35, 0.5567596870810636), (36, 0.43626874513912794), (37, 0.39097626584566286), (38, 0.5161101378733494), (39, 0.5567596870810636), (40, 0.31429208554610766), (41, 0.777293272987784), (42, 0.5021024200880705), (43, 0.5125113189600524), (44, 0.6128107738691617), (45, 0.5021024200880705), (46, 0.6530067145774707), (47, 0.4224914454995097), (48, 0.5021024200880705), (49, 0.8961561491705488), (50, 0.887313067793948), (51, 0.36722970119251386), (52, 0.31429208554610766), (53, 0.5792887659661906), (54, 0.5567596870810636), (55, 0.110669666566551), (56, 0.5161101378733494), (57, 0.5161101378733494), (58, 0.5551847056193149), (59, 0.3326504553380034), (60, 0.7441458357594101), (61, 0.3625245692324869), (62, 0.3014394155023656), (63, 0.36722970119251386), (64, 0.3014394155023656), (65, 0.44729061699834244), (66, 0.45719889654283363), (67, 0.36722970119251386), (68, 0.3014394155023656), (69, 0.8265037245307525), (70, 0.7723839371254315), (71, 0.5161101378733494), (72, 0.3776692717297004), (73, 0.5021024200880705), (74, 0.3383646258286319), (75, 0.22038804819487584), (76, 0.15613784820659887), (77, 0.7441458357594101), (78, 0.7441458357594101), (79, 0.45719889654283363), (80, 0.7754680033466326), (81, 0.5204227642872481), (82, 0.5021024200880705), (83, 0.110669666566551), (84, 0.5021024200880705), (85, 0.7659124649921909), (86, 0.375955531137377), (87, 0.3014394155023656), (88, 0.8961561491705488), (89, 0.5567596870810636), (90, 0.592403562004723), (91, 0.3491906542645521), (92, 0.5161101378733494), (93, 0.8099674603153326), (94, 0.3014394155023656), (95, 0.5567596870810636), (96, 0.6933303425977866), (97, 0.15613784820659887), (98, 0.7441458357594101)]

In [238]:
len(recommendation_score)

99

**Get All Movie Sorted on Recommendation Score wrt Favourite Movie**

In [239]:
#sorting the movies based on their similarity score
sorted_similar_movies=sorted(recommendation_score,key=lambda x:[1],reverse=True)
print(sorted_similar_movies)

[(0, 0.3227794618647637), (1, 0.3326504553380034), (2, 0.36722970119251386), (3, 0.5161101378733494), (4, 0.3014394155023656), (5, 1.0000000000000002), (6, 0.36722970119251386), (7, 0.6501478830015724), (8, 0.7439553190575393), (9, 0.7439553190575393), (10, 0.5161101378733494), (11, 0.28480726662170563), (12, 0.3110488750878291), (13, 0.3776692717297004), (14, 0.5754774280077406), (15, 0.7754680033466326), (16, 0.5021024200880705), (17, 0.6394619804615588), (18, 0.6046730442103354), (19, 0.8167541252764892), (20, 0.7943017328807089), (21, 0.7441458357594101), (22, 0.8888535394151862), (23, 0.5228526605055838), (24, 0.5021024200880705), (25, 0.5567596870810636), (26, 0.4885979751099535), (27, 0.5021024200880705), (28, 0.2882259233655929), (29, 0.7754680033466326), (30, 0.7754680033466326), (31, 0.4034656548328567), (32, 0.3330975044073662), (33, 0.4611547253483206), (34, 0.4256656293679058), (35, 0.5567596870810636), (36, 0.43626874513912794), (37, 0.39097626584566286), (38, 0.5161101378733494), (39, 0.5567596870810636), (40, 0.31429208554610766), (41, 0.777293272987784), (42, 0.5021024200880705), (43, 0.5125113189600524), (44, 0.6128107738691617), (45, 0.5021024200880705), (46, 0.6530067145774707), (47, 0.4224914454995097), (48, 0.5021024200880705), (49, 0.8961561491705488), (50, 0.887313067793948), (51, 0.36722970119251386), (52, 0.31429208554610766), (53, 0.5792887659661906), (54, 0.5567596870810636), (55, 0.110669666566551), (56, 0.5161101378733494), (57, 0.5161101378733494), (58, 0.5551847056193149), (59, 0.3326504553380034), (60, 0.7441458357594101), (61, 0.3625245692324869), (62, 0.3014394155023656), (63, 0.36722970119251386), (64, 0.3014394155023656), (65, 0.44729061699834244), (66, 0.45719889654283363), (67, 0.36722970119251386), (68, 0.3014394155023656), (69, 0.8265037245307525), (70, 0.7723839371254315), (71, 0.5161101378733494), (72, 0.3776692717297004), (73, 0.5021024200880705), (74, 0.3383646258286319), (75, 0.22038804819487584), (76, 0.15613784820659887), (77, 0.7441458357594101), (78, 0.7441458357594101), (79, 0.45719889654283363), (80, 0.7754680033466326), (81, 0.5204227642872481), (82, 0.5021024200880705), (83, 0.110669666566551), (84, 0.5021024200880705), (85, 0.7659124649921909), (86, 0.375955531137377), (87, 0.3014394155023656), (88, 0.8961561491705488), (89, 0.5567596870810636), (90, 0.592403562004723), (91, 0.3491906542645521), (92, 0.5161101378733494), (93, 0.8099674603153326), (94, 0.3014394155023656), (95, 0.5567596870810636), (96, 0.6933303425977866), (97, 0.15613784820659887), (98, 0.7441458357594101)]

In [240]:
#print the name of similar movies based on the index
print('The top 30 SUggested MOvies for you are : \n')
i=1

for movies in sorted_similar_movies:
    index=movies[0]
    title_form_index=data[data.index==index]['original_title'].values[0]
    if(i<31):
        print(i,'.',title_form_index)
        i+=1

The top 30 SUggested MOvies for you are :

1 . Toy Story
2 . Jumanji
3 . Grumpier Old Men
4 . Waiting to Exhale
5 . Father of the Bride Part II
6 . Heat
7 . Sabrina
8 . Tom and Huck
9 . Sudden Death
10 . GoldenEye
11 . The American President
12 . Dracula: Dead and Loving It
13 . Balto
14 . Nixon
15 . Cutthroat Island
16 . Casino
17 . Sense and Sensibility
18 . Four Rooms
19 . Ace Ventura: When Nature Calls
20 . Money Train
21 . Get Shorty
22 . Copycat
23 . Assassins
24 . Powder
25 . Leaving Las Vegas
26 . Othello
27 . Now and Then
28 . Persuasion
29 . La Cité des Enfants Perdus
30 . 摇啊摇，摇到外婆桥

**Top 10 Movie Recommondation  System**

In [241]:
movies_name=input('Enter Your Favourite movies name: ')
list_of_all_titles=data['original_title'].tolist()
find_close_match=difflib.get_close_matches(movies_name,list_of_all_titles)
close_match=find_close_match[0]
index_of_movies=int(data[data.original_title==close_match]['id'].values[0])
recommendation_score = list(enumerate(similarity_score[index_of_movies]))
sorted_similar_movies=sorted(recommendation_score,key=lambda x:x[1],reverse=True)

print('Top 10 Movies Suggested for you: \n')
i = 1

for movies in sorted_similar_movies:
    index = movies[0]
    title_form_index = data[data.index == index]['original_title'].values[0]
    if (i < 11):
        print(i, '.', title_form_index)
        i += 1

Top 10 Movies Suggested for you:

1 . Heat
2 . The Usual Suspects
3 . Nick of Time
4 . Assassins
5 . Guardian Angel
6 . From Dusk Till Dawn
7 . Money Train
8 . Broken Arrow
9 . Get Shorty
10 . Dead Presidents